<aside id="sidebar" class="
    fixed md:static inset-y-0 left-0 z-40
    w-64 bg-white border-r border-gray-200
    px-4 py-6
    transform -translate-x-full md:translate-x-0
    transition-transform duration-200 ease-in-out
  ">

    <div class="flex flex-col h-full">

        <!-- Brand -->
        <div class="px-3 mb-8">
            <h1 class="text-3xl font-semibold"><a href="/">Sreenu M Raj</a></h1>
            <p class="text-lg text-gray-500">DevOps Engineer</p>
        </div>

        <!-- Nav -->
        <nav class="space-y-1 text-lg">
            <a href="/projects" class="flex items-center px-3 py-2 rounded-lg
        {% if page.url contains '/projects' %}
          bg-blue-100 text-blue-700 font-medium
        {% else %}
          text-gray-700 hover:bg-gray-100
        {% endif %}">
                Projects
            </a>

            <a href="/blog" class="flex items-center px-3 py-2 rounded-lg
        {% if page.url contains '/blog' %}
          bg-blue-100 text-blue-700 font-medium
        {% else %}
          text-gray-700 hover:bg-gray-100
        {% endif %}">
                Blog
            </a>

            <a href="/about" class="flex items-center px-3 py-2 rounded-lg
        {% if page.url contains '/about' %}
          bg-blue-100 text-blue-700 font-medium
        {% else %}
          text-gray-700 hover:bg-gray-100
        {% endif %}">
                About
            </a>
        </nav>

        <!-- Footer -->
        <div class="mt-auto px-3 text-xs text-gray-400">
            © {{ site.time | date: "%Y" }}
        </div>

    </div>
</aside>