<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>

<body>
  <main class="page-content">
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/assets/Sreenu_M_Raj_CV.pdf">CV</a>
    </nav>
    {{ content }}
  </main>
</body>

</html>